# 10601 Week2 Concept Learning

9/11/2018

This week, we learned concept learning excerpted from Tom Mitchell's Book. The slide for referenced can be found here: [chapter 2](http://www.cs.cmu.edu/~roni/10601-slides/ch2.pdf)

In summary, concept learning is a binary classification problem with multi-label features. In the textbook, an EnjoySports example was illustrated. Some main ideas are as follows:

- Input Space:      X= (x1,x2,...,xi)

     The size of X |X|: input space the total number of combinations of features. 
- A learning task: map x-->R(C)
- Concept Space

## 1. Concept Space

Concept space is the entire sets of all the hypotheses. We can list all the combinations of X and give them "+"or "-". Thus, the size of concept space is |C| to the power of |X|

## 2. S-Algorithm

Tom Mitchell introduced s-algorithm with the conjunction hypothese. It can be summarized like that:
   
   - Initial step: List the most specific hypothese that is for any input features, we classify it as negative example(-), that is <null,null,...null>   
       for each positive record in the training data:
           if the attribute is different from the one in the hypothese:
                      if the one in the hypothese is null:
                             then, the attribute in the hypothese will be the attribute value
                      elif the one in the hypothese is not null:
                             then, the attribute in the hypothese will be ?(any value)

This process is from the specific from the general. The more loose the condition is, the more general the hypothese is. S algorithm has some apparant shortbacks. The feasible hypothese is not limited to only one.

## 3. List-Then-Eliminate (LTE) Algorithm

Unlike S algorithm, LTE algorithm lists all the possible hypotheses and remove it if it is not consistent with the training data. It considers both the positive examples and negative examples. The set containing all the consistent hypothes is the version space.

Now, Let's get us hand dirty to see some code in the curtesey of assignment 2.
                        

# Creating Input Space

In the example of Titanic survival problem, we select 4 features Age, Class, Embarked, and Sex. We have one label to classify: Survived. They are all binary type.

In [1]:
Age =['Young','Old']
Class=['1','3']
Embarked=['Southampton','Queenstown']
Sex=['Male','Female']

Survived = ['Yes','No']

Visualize the input space. The size of 2x2x2x2=16. There are 16 combinations. What are they? We can use itertools to list them out.

In [3]:
import itertools
#The entire input space
input_s= list(itertools.product(Age, Class,Embarked,Sex))
input_s

[('Young', '1', 'Southampton', 'Male'),
 ('Young', '1', 'Southampton', 'Female'),
 ('Young', '1', 'Queenstown', 'Male'),
 ('Young', '1', 'Queenstown', 'Female'),
 ('Young', '3', 'Southampton', 'Male'),
 ('Young', '3', 'Southampton', 'Female'),
 ('Young', '3', 'Queenstown', 'Male'),
 ('Young', '3', 'Queenstown', 'Female'),
 ('Old', '1', 'Southampton', 'Male'),
 ('Old', '1', 'Southampton', 'Female'),
 ('Old', '1', 'Queenstown', 'Male'),
 ('Old', '1', 'Queenstown', 'Female'),
 ('Old', '3', 'Southampton', 'Male'),
 ('Old', '3', 'Southampton', 'Female'),
 ('Old', '3', 'Queenstown', 'Male'),
 ('Old', '3', 'Queenstown', 'Female')]

For each binary hypothesis, it has 16 classification for each case. For each condition of hypothesis, it has two values. Therefore, the concept space is 2<sup>16</sup> hypothese. As you can see, the concept space is so large. 

Can we list them all? Yes!

In [6]:
#All hypothese space
H=list(itertools.product(Survived,repeat=16))
len(H)

65536

**The first hypothesis in the concept space**

In [9]:
list(zip(input_s,H[0]))

[(('Young', '1', 'Southampton', 'Male'), 'Yes'),
 (('Young', '1', 'Southampton', 'Female'), 'Yes'),
 (('Young', '1', 'Queenstown', 'Male'), 'Yes'),
 (('Young', '1', 'Queenstown', 'Female'), 'Yes'),
 (('Young', '3', 'Southampton', 'Male'), 'Yes'),
 (('Young', '3', 'Southampton', 'Female'), 'Yes'),
 (('Young', '3', 'Queenstown', 'Male'), 'Yes'),
 (('Young', '3', 'Queenstown', 'Female'), 'Yes'),
 (('Old', '1', 'Southampton', 'Male'), 'Yes'),
 (('Old', '1', 'Southampton', 'Female'), 'Yes'),
 (('Old', '1', 'Queenstown', 'Male'), 'Yes'),
 (('Old', '1', 'Queenstown', 'Female'), 'Yes'),
 (('Old', '3', 'Southampton', 'Male'), 'Yes'),
 (('Old', '3', 'Southampton', 'Female'), 'Yes'),
 (('Old', '3', 'Queenstown', 'Male'), 'Yes'),
 (('Old', '3', 'Queenstown', 'Female'), 'Yes')]

# S-Algorithm

# LTE Algorithm

# What lesson I have learned from the assignment

1. Dictionary.values() is unordered and can be changed in different systems. I ran well in windows system and output is good. However, when I tested on the linux server, the output is wrong. Dictionary sometime does not work as expected.

In [10]:
hypoth1={'Age': 'Young',
  'Class': 1,
  'CrewMember?': 'Yes',
  'Embarked': 'Southampton',
  'NearRescueBoat?': 'Yes',
  'Sex': 'Femal',
  'TravelingWithSibling?': 'Yes',
  'TravelingWithSpouseOrParent?': 'Yes'}

the order in my mind should be from Age to Travelingwithspouseorparent alphabetically. However, it can be output in other ways.

In [12]:
hypoth1.keys()

dict_keys(['Age', 'Class', 'CrewMember?', 'Embarked', 'NearRescueBoat?', 'Sex', 'TravelingWithSibling?', 'TravelingWithSpouseOrParent?'])

### It shows the way as expected. But in linux system, I get different orders! Because dictionary is not ordered.